
.list_item, .post{
    list-style: none;
    border-radius: 5px;
    border: 4px solid var(--primary-color);
    background: var(--background-color);
    color: var(--primary-color);
}

.list_item{
    margin: 10px;
}